<h3>{{ "PLUGIN_SHOPPINGCART.PRODUCTS_BOUGHT"|t|e }}</h3>

{% for product_ordered in order.products %}
    <li>
        {{ product_ordered.quantity|e }} {{ product_ordered.product.title|e }} at

        {% include 'partials/shoppingcart_core_price.html.twig' with { price: product_ordered.product.price } %}

        each
    </li>
{% endfor %}

<h3>{{ "PLUGIN_SHOPPINGCART.TOTAL_PAID"|t|e }}</h3>

{% include 'partials/shoppingcart_core_price.html.twig' with { price: order.amount } %}

<h3>{{ "PLUGIN_SHOPPINGCART.ORDER_DETAILS"|t|e }}</h3>

{% for index, item in order.data %}
    {% set the_field = '' %}
    {% for field in config.plugins.shoppingcart.checkout_form.fields %}
        {% if field.name == index %}
            {% set the_field = field %}
        {% endif %}
    {% endfor %}

    {% if not the_field.ignore %}
        <strong>{{ the_field.label|t|default(index)|e }}</strong>:
        {{ item|e }}
        <br>
    {% endif %}
{% endfor %}