{% set price = product.price|number_format(2, '.', ',') %}
{% set image_size_cart = config.plugins.shoppingcart.ui.image_size_cart %}

{{ shoppingcart_output_page_product_before_add_to_cart }}

<button type="button" class="button js__shoppingcart__button-add-to-cart" data-id="{{product.id}}">
    <i class="fa fa-shopping-cart"></i> {{ 'PLUGIN_SHOPPINGCART.ADD_TO_CART'|t }}
</button>

<script>
    (function() {
        var currentProduct = {
            title: "{{ product.title }}",
            id: "{{ product.id }}",
            formatted_price: "{{ price }}",
            price: "{{ product.price }}",
            image: "{{ product.image.cropResize(image_size_cart, image_size_cart).url }}",
            url: "{{ product.url }}"
        };

        // Checks if page is a list of products or single product
        if (ShoppingCart.currentPageIsProducts) {
            ShoppingCart.currentProducts.push(currentProduct);
        } else {
            ShoppingCart.currentProduct = currentProduct;
            ShoppingCart.currentPageIsProduct = true;
        }
    }());
</script>
