{% set shoppingcart_image = page.media.images|first %}

{% include 'partials/shoppingcart_cart.html.twig' %}

<div id="shoppingcart-detail" class="block-group">
    <div class="shoppingcart-info block">
        <div class="shoppingcart-thumb">
            {% if shoppingcart_image %}
                {{ shoppingcart_image.cropResize(400,400).html(page.header.title,'shoppingcart-thumb-image') }}
            {% else %}
                <br><br><br>
            {% endif %}
            <span class="shoppingcart-price">
                {% include 'partials/shoppingcart_price.html.twig' with { price: page.header.price } %}
            </span>
        </div>
        <p>
            <div class="shoppingcart-quantity-chooser">
                <label>Quantity:</label> <input type="text" class="small" id="js__shoppingcart__quantity" placeholder="1" value="1" />
            </div>
            <a href="#"
                class="button js__shoppingcart__button-add-to-cart"
                data-item-id="{{ page.header.product_id }}"
                data-item-name="{{ page.header.title }}"
                data-item-price="{{ page.header.price }}"
                data-item-url="{{ page.url }}"
            >
                <i class="fa fa-shopping-cart"></i> {{ 'PLUGIN_SHOPPINGCART.ADD_TO_CART'|t }}
            </a>
        </p>
    </div>
    <div class="shoppingcart-details block">
        <h1>{{ page.header.title }}</h1>

        <p>{{ page.content }}</p>
    </div>
</div>

<script>
(function() {

    var currentProduct = {
        title: "{{ page.header.title }}",
        id: "{{ md5(page.header.title) }}",
        price: "{{ page.header.price }}",
        defaultPhoto: "{{ shoppingcart_image|url_encode }}",
        type: "{{ page.header.type }}",
        url: "{{ page.url|url_encode }}",
    };

    ShoppingCart.currentProduct = currentProduct;
    ShoppingCart.currentPageIsProduct = true;
}());
</script>
