{% extends 'partials/base.html.twig' %}
{% set mode = 'list' %}

{% if admin.route %}
    {% set context = admin.page(true) %}
{% endif %}

{% if context %}
    {% set mode = 'edit' %}
    {% if context.exists %}
        {% set page_url = base_url ~ '/pages' ~ (context.header.routes.default ?: context.rawRoute) %}
        {% set exists = true %}
        {% set title = (context.exists ? "PLUGIN_ADMIN.EDIT"|tu : "PLUGIN_ADMIN.CREATE"|tu ) ~ " " ~ context.header.title %}
    {% else %}
        {% set title = "PLUGIN_ADMIN.ADD_PAGE"|tu %}
    {% endif %}
{% else %}
    {% set mode = 'list' %}
{% endif %}

{% set modular = context.modular ? 'modular_' : '' %}

{% set warn = config.plugins.admin.warnings.delete_page %}

{% set admin_lang = admin.session.admin_lang ?: 'en' %}

{% set page_lang = context.language %}

{% block stylesheets %}
    {{ dump(base_url_relative_frontend ~ (context.home ? '' : context.route)) }}
    {% if mode == 'edit' %}
        {% do assets.addCss(theme_url~'/css/codemirror/codemirror.css') %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs(theme_url~'/js/pages-all.js') %}
    {% do assets.addJs(theme_url~'/js/speakingurl.min.js') %}
    {% do assets.addJs(theme_url~'/js/slugify.min.js') %}
    {% if mode == 'edit' %}
        {% do assets.addJs(theme_url~'/js/codemirror-compressed.js') %}
        {% do assets.addJs(theme_url~'/js/mdeditor.js') %}
        {% do assets.addJs(theme_url~'/js/dropzone.min.js') %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% set preview_html = (base_url_relative_frontend|rtrim('/') ~ (context.home ? '' : context.route)) ?: '/' %}
{% set preview_link = '<a class="preview" target="_blank" href="' ~ preview_html ~ '"><i class="fa fa-fw fa-angle-double-right"></i></a>' %}


{% block titlebar %}

    <div class="button-bar">
        {% if mode == 'list' %}
            <a class="button" href="{{ base_url }}"><i class="fa fa-reply"></i> {{ "PLUGIN_ADMIN.BACK"|tu }}</a>
        {% elseif mode == 'edit' %}
            <a class="button" href="{{ base_url }}/pages"><i class="fa fa-reply"></i> {{ "PLUGIN_ADMIN.BACK"|tu }}</a>
        {% endif %}
    </div>
    {% if mode == 'edit' %}
        <h1><i class="fa fa-fw fa-file-text-o"></i>
            {{ context.exists ? "PLUGIN_ADMIN.EDIT"|tu ~ " <i>#{context.menu}</i>" ~ preview_link : "PLUGIN_ADMIN.CREATE"|tu ~ " <i>#{context.menu}</i>" }}
        </h1>
    {% else %}
        <h1><i class="fa fa-fw fa-file-text-o"></i> {{ "PLUGIN_SHOPPINGCART.MANAGE_ORDERS"|tu }}</h1>
    {% endif %}
{% endblock %}

{% block content %}

    {% set default_site_lang = grav.config.system.languages|first|first %}
    <div class="admin-block clear">
    {% include 'partials/messages.html.twig' %}
    {% if mode == 'new' %}
    {% elseif mode == 'edit' %}
        {# <div class="admin-form-wrapper" data-media-url="{{ base_url }}/media/{{ admin.route|trim('/') }}.json" data-media-local="{{ base_url_relative_frontend }}/{{ admin.route|trim('/') }}" data-media-types="{{ media_types }}">
            <div id="admin-topbar">

                {% if admin.multilang and page_lang %}
                    <div id="admin-lang-toggle" class="button-group">
                        <button type="button" class="button disabled">
                            {% if exists %}
                                {{ page_lang }}
                            {% else %}
                                {{ admin_lang }}
                            {% endif %}
                        </button>
                        {% if exists and context.translatedLanguages|length > 1 %}
                            <button type="button" class="button dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu language-switcher">
                                {% for language, route in context.translatedLanguages %}
                                    {% if language != page_lang %}
                                    <li><button class="task" name="task" value="switchlanguage" lang="{{language}}" redirect="{{context.rawRoute|trim('/')}}" form="blueprints">{{ language }}</button>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}

                {% if context.blueprints.fields %}
                <form id="admin-mode-toggle">
                    <div class="switch-toggle switch-grav">
                        <input type="radio" value="normal" data-leave-url="{{ base_url }}/pages/{{ admin.route|trim('/') }}/mode{{ config.system.param_sep }}normal" id="normal" name="mode-switch" class="highlight" {% if admin.session.expert == '0' %} checked="checked"{% endif %}>
                        <label for="normal">{{ "PLUGIN_ADMIN.NORMAL"|tu }}</label>
                        <input type="radio" value="expert" data-leave-url="{{ base_url }}/pages/{{ admin.route|trim('/') }}/mode{{ config.system.param_sep }}expert" id="expert" name="mode-switch" class="highlight" {% if admin.session.expert == '1' %} checked="checked"{% endif %}>
                        <label for="expert">{{ "PLUGIN_ADMIN.EXPERT"|tu }}</label>
                        <a></a>
                    </div>
                </form>
                {% endif %}

            </div>

            {% if context.blueprints.fields and admin.session.expert == '0' %}
                {% include 'partials/blueprints.html.twig' with { blueprints: context.blueprints, data: context } %}
            {% else %}
                {% include 'partials/blueprints-raw.html.twig' with { blueprints: admin.blueprints('pages/'~modular~'raw'), data: context } %}
            {% endif %}
        </div> #}
    {% else %}
        <ul class="pages-list depth-0">

            {% for year in page.find('/orders').children %}
                {% for month in year.children %}

                    <li class="page-item" data-nav-id="{{ order.route }}">
                        <div class="row">
                            <h5 href="#" class="page-edit">Orders in {{month.title}}/{{year.title}}</h5>
                        </div>
                    </li>

                    {% for order in month.children %}
                        {% set page_route =  order.rawRoute|trim('/') %}
                        {% if order.language and order.language != admin_lang %}
                            {% set page_url = base_url_simple ~ '/' ~ order.language ~ '/' ~ admin_route ~ '/' ~ page_route %}
                        {% else %}
                            {% set page_url = base_url ~ '/' ~ page_route  %}
                        {% endif %}

                        <li class="page-item" data-nav-id="{{ order.route }}">
                            <div class="row">
                                <a href="{{ page_url }}" class="page-edit">{{ order.menu }}</a>
                                {% if order.language %}
                                    <span class="badge lang {% if order.language == admin_lang %}info{% endif %}">{{order.language ?: default_site_lang}}</span>
                                {% endif %}
                                <span class="page-tools">
                                    {% if warn %}
                                    <a href="#delete" data-remodal-target="delete" data-delete-url="{{ page_url }}/task{{ separator }}delete" class="page-delete" ><i class="fa fa-close"></i></a>
                                    {% else %}
                                    <a href="{{ page_url }}/task{{ separator }}delete" class="page-delete" ><i class="fa fa-close"></i></a>
                                    {% endif %}
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    </div>

    <div class="remodal" data-remodal-id="delete" data-remodal-options="hashTracking: false">
        <form>
            <h1>{{ "PLUGIN_SHOPPINGCART.MODAL_DELETE_ORDER_CONFIRMATION_REQUIRED_TITLE"|tu }}</h1>
            <p class="bigger">
              {{ "PLUGIN_SHOPPINGCART.MODAL_DELETE_ORDER_CONFIRMATION_REQUIRED_DESC"|tu }}
            </p>
            <br>
            <div class="button-bar">
            <a class="button secondary remodal-cancel" href="#"><i class="fa fa-fw fa-close"></i> {{ "PLUGIN_ADMIN.CANCEL"|tu }}</a>
            <a class="button" data-delete-action href="#"><i class="fa fa-fw fa-check"></i> {{ "PLUGIN_ADMIN.CONTINUE"|tu }}</a>
            </div>
        </form>
    </div>
{% endblock %}

