{% extends 'shoppingcart_base.html.twig' %}

{% block content %}
    <style>
        th { background: #d9d9d9; }

        tr, td { text-align: left;}
        .details { flex: 1.5 }

        .center {
            margin: 0 auto;
            text-align: center;
        }
    </style>

    <h1>Latest Orders</h1>

    <div class="admin-block">
        <table>
            <tbody class="js__orders-container">
                <tr class="h">
                    <th class="date">Date</th>
                    <th class="products">Products</th>
                    <th class="amount">Amount</th>
                    <th class="details">Details</th>
                </tr>
                {% for order in grav.twig.orders.orders %}
                    <tr>
                        <td class="date">{{order.created_on|slice(0, 4)}}/{{order.created_on|slice(4, 2)}}/{{order.created_on|slice(6, 2)}}</td>
                        <td class="products">
                            {% for product in order.products %}
                                <strong>Item</strong>: {{product.product.title}} - <strong>Quantity</strong>: {{product.quantity}} - <strong>Price</strong>: {{product.product.price}}<br>
                            {% endfor %}
                        </td>
                        <td class="amount">{{order.amount}}</td>
                        <td class="details">
                            {% for index, item in (order.data ?: [])|merge(order.address ?: []) %}
                                {% for field in config.plugins.shoppingcart.checkout_form.fields %}
                                    {% if field.name == index %}
                                        <strong>{{ field.label|t|e }}</strong>:
                                    {% endif %}
                                {% endfor %}
                                {{ item }}
                                <br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p class="center">
            <br>
            Showing <span class="totalRetrieved">{{grav.twig.orders.totalRetrieved}}</span> orders of <span class="totalAvailable">{{grav.twig.orders.totalAvailable}}</span>
            <br>
            <br>
            {% if (grav.twig.orders.page > 1) %}
                <a class="button center" href="{{ config.plugins.admin.route }}/shoppingcart/page:{{ (grav.twig.orders.page - 1) }}">Prev</a>
            {% endif %}

            {% if (grav.twig.orders.page * grav.twig.orders.totalRetrieved) < grav.twig.orders.totalAvailable %}
                <a class="button center" href="{{ config.plugins.admin.route }}/shoppingcart/page:{{ (grav.twig.orders.page + 1) }}">Next</a>
            {% endif %}
        </p>
    </div>
{% endblock %}
